@page "/"
@inject HttpClient Http
@inject IStringLocalizer<Resource> localizer
<PageTitle>Home</PageTitle>

<h1>@localizer["WelcomeMessage"]</h1>

Welcome to your new app.
<p>@apiResponse</p>
@code{
    private string? apiResponse;
    protected override async Task OnInitializedAsync()
    {
        await Initialized();
    }
    private async Task Initialized()
    {
        try
        {
            apiResponse = await Http.GetStringAsync("PublicArea/Public");
        }
        catch (Exception ex)
        {
            apiResponse = ex.Message;
        }
    }
}